<div class="row column">
  <%= form.text_field :number_of_project_voters_0_18, label: I18n.t("number_of_project_voters_0_18", scope: "decidim.projects.admin.statistics") %>
</div>
<div class="row column">
  <%= form.text_field :number_of_project_voters_19_24, label: I18n.t("number_of_project_voters_19_24", scope: "decidim.projects.admin.statistics") %>
</div>
<div class="row column">
  <%= form.text_field :number_of_project_voters_25_34, label: I18n.t("number_of_project_voters_25_34", scope: "decidim.projects.admin.statistics")%>
</div>
<div class="row column">
  <%= form.text_field :number_of_project_voters_35_44, label: I18n.t("number_of_project_voters_35_44", scope: "decidim.projects.admin.statistics")%>
</div>
<div class="row column">
  <%= form.text_field :number_of_project_voters_45_64, label: I18n.t("number_of_project_voters_45_64", scope: "decidim.projects.admin.statistics")%>
</div>
<div class="row column">
  <%= form.text_field :number_of_project_voters_65_100, label: I18n.t("number_of_project_voters_65_100", scope: "decidim.projects.admin.statistics")%>
</div>
