<div class="small reveal confirm-reveal"
     id="confirm-modal"
     aria-hidden="true"
     role="dialog"
     aria-modal="true"
     aria-labelledby="confirm-modal-title"
     aria-describedby="confirm-modal-content"
     data-reveal
     data-multiple-opened="true"
     tabindex="-1"
>
  <div class="reveal__header">
    <h2 class="reveal__title" id="confirm-modal-title"><%= t(".title") %></h2>
    <button class="close-button" data-close aria-label="<%= t(".close_modal") %>"
            type="button" tabindex="0">
      <span aria-hidden="true">&times;<span class="wcag-invisible">Zamknij okno</span></span>
    </button>
  </div>
  <div class="confirm-content">
    <div class="confirm-modal-content" id="confirm-modal-content" role="document" tabindex="0"></div>
  </div>
  <div class="confirm-modal-footer reveal__footer">
    <div class="buttons button--double">
      <a class="button" role="button" href="#" data-confirm-ok aria-label="<%= t(".ok") %>"><%= t(".ok") %></a>
      <a class="button clear" role="button" href="#" data-confirm-cancel aria-label="<%= t(".cancel") %>"><%= t(".cancel") %></a>
    </div>
  </div>
</div>
