<%= render 'secondary_menu' %>

<%= decidim_form_for(@form) do |f| %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t("decidim.admin_extended.admin.documents.new.file") %></h2>
    </div>
    <div class="card-section">
      <%= render partial: "form", object: f %>
    </div>
  </div>
  <div class="button--double form-general-submit">
    <%= link_to t("decidim.admin_extended.admin.documents.actions.cancel"), documents_path, class: "link" %>
    <%= f.submit t("decidim.admin_extended.admin.documents.actions.add_file"), class: 'button ml-s' %>
  </div>
<% end %>
