
<div class="row column">
  <%= form.text_field :name, autofocus: true %>
</div>

<div class="row column">
  <%= form.text_field :description %>
</div>

<div class="row column">
  <%= form.text_field :amount %>
</div>

<div class="row column">
  <%= form.upload :file %>
</div>

<div class="row column">
  <%= form.label :published %>
  <%= form.radio_button :published, false, label: t(".published_no") %>
  <%= form.radio_button :published, true, label: t(".published_yes") %>
</div>

<div class="row column">
  <%= form.check_box :on_main_site %>
</div>

<div class="row column">
  <%= form.number_field :weight %>
</div>

<div class="row column">
  <%= form.collection_select :budget_info_group_id, budget_info_groups, :id, :name, include_blank: t(".none") %>
</div>
