<div class="card with-overflow">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <div>
        <%= t(".title") %>
        <span id="js-selected-projects-count" class="component-counter component-counter--inline" title="<%= t("decidim.projects.admin.projects.index.selected") %>"></span>
      </div>
      <%= render partial: "bulk-actions" %>
    </h2>
  </div>
  <%= admin_filter_selector(:projects) %>
  <div class="card-section">
    <% if projects.any? %>
      <div class="table-scroll">
        <table class="table-list">
          <thead>
            <tr>
              <th>
                <%= check_box_tag "projects_bulk", "all", false, class: "js-check-all" %>
              </th>
              <th>
                <%= sort_link(query, :esog_number, t("models.project.fields.esog_number", scope: "decidim.projects"), default_order: :desc ) %>
              </th>
              <th>
                <%= sort_link(query, :is_paper, t("models.project.fields.is_paper", scope: "decidim.projects") ) %>
              </th>
              <th>
                <%= sort_link(query, :title, t("models.project.fields.title", scope: "decidim.projects") ) %>
              </th>
              <th>
                Poziom/<br>dzielnica/<br>obszar
              </th>
              <th>
                Status publiczny (Status wewnętrzny)
              </th>
              <th>
                Status weryfikacji
              </th>
              <th>
                <%= t("models.project.fields.evaluators", scope: "decidim.projects") %>
              </th>
              <th>
                Konflikty
              </th>
              <th>
                <%= sort_link(query, :signum_znak_sprawy, 'Znak sprawy' ) %>
              </th>
              <th>
                <%= sort_link(query, :signum_registered_at, 'Data rejestracji w Signum' ) %>
              </th>
              <th class="actions">Akcje</th>
            </tr>
          </thead>
          <tbody>
            <% projects.each do |project| %>
              <%= render partial: "project-tr", locals: { project: project } %>
            <% end %>
          </tbody>
        </table>
        <%= paginate projects, theme: "decidim" %>
        <%= paginated_results_count(@all_projects_count, params[:page] || 1, per_page) %>
      </div>
    <% else %>
      <div class="text-center pt-m pb-m"><%= t('.empty') %></div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "decidim/projects/admin/projects" %>
