<%= decidim_form_for(@form, url: project_meritorical_evaluations_path(@project), html: { class: "form new_user merit-form" }, method: :post) do |f| %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title">
        <%= t ".title" %>
      </h2>
    </div>
    <div class="card-section">
      <h3 style="margin-bottom: 20px; text-align: center">
        <b>Wszystkie oceny muszą zostać przekazane do koordynatora do:</b>
        <span class=<%= in_less_than_3_days(@project.evaluation_cards_submit_end_date) ? 'alert' : 'success' %> ><%= l @project.evaluation_cards_submit_end_date %></span>
      </h3>

      <%= render partial: 'form_meritorical', locals: { form: f } %>
    </div>
  </div>

  <div class="button--double form-general-submit">
    <%= f.submit 'Zapisz' %>
    <% if allowed_to? :accept_meritorical, :project_evaluate, project: @project %>
      <%= f.button 'Zapisz i zaakceptuj', type: 'input', name: "subaction", value: "accept", action: :patch, class: 'button success' %>
    <% end %>
    <%= link_to 'powrót do projektu', @project %>
  </div>

  <% if @project.meritorical_evaluation %>
    <div class="button--double form-general-submit">
    </div>
  <% end %>
<% end %>
