<% add_decidim_page_title(project_wizard_step_title(wizard)) %>

<%= render partial: "wizard_aside" %>
<%= render partial: "wizard_header" %>

<%= decidim_form_for(@form, url: [:update_author_data, :projects_wizard, step: :step_2_author], method: :patch) do |form| %>
  <div class="row">
    <div class="columns large-12">
      <legend><%= render partial: "decidim/projects/projects_wizard/explanation/step_2_author" %></legend>
    </div>
  </div>

  <%= render partial: "decidim/projects/projects_wizard/part_form_fields/author_fields", locals: { form: form } %>

  <div class="card fieldset">
    <div class="row">
      <div class="columns large-12 text-left mb-m">
        <div class="card explanation pl-s pt-s pr-s pb-s">
          <div class='strong'><%= t('information_clause_label', scope: 'decidim.projects.projects.edit', link: '/pages/klauzula-informacyjna').html_safe %></div>
          <%= t('information_clause_explanation', scope: 'decidim.projects.projects.edit') %>
        </div>
      </div>
      <div class="columns large-12 text-right">
        <div class="actions">
          <%= link_to t(".back"), [:edit_draft, :projects_wizard], class: "button hollow mt-s mb-none pull-left" %>
          <%= link_to t(".cancel"), decidim_core_extended.account_projects_path, class: "button button-link mt-s mb-none" %>
          <% if @project.draft? %>
            <%= form.button t(".draft"), type: 'input', class: "button hollow mt-s mb-none", name: "subaction", value: "draft" %>
          <% end %>
          <%= form.submit t(".send"), class: "button submit mt-s mb-none" %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<%= nonced_javascript_tag do %>
  $('label').each( function() {
      var text = $(this).clone()
          .children()
          .remove()
          .end()
          .text();

      if (text[text.length-1] == '*') {
          var id = "#" + $(this).attr('for');
          $(id).attr('aria-required', true);
      };
  });

  $(function(){
    $('#project_wizard_author_step_zip_code').mask('00-000');
  });
<% end %>

