<div class="wrapper">
  <div class="row column">
    <div class="page-title-wrapper">
      <h2 class="section-heading">Budżet <span>obywatelski</span></h2>
    </div>
  </div>

  <div class="row column"> 
    <div class="columns medium-6 info-column info-column--left">
      <p class="info-column__paragraph">
        <strong>Dzięki budżetowi obywatelskiemu mieszkańcy decydują o tym, na co przeznaczyć część budżetu Warszawy.</strong> To warszawiacy, co roku wymyślają i zgłaszają projekty, a następnie wybierają w głosowaniu te, które zostaną zrealizowane. W ten sposób wspólnie decydują o tym, co powstanie w najbliższej okolicy, w kilku dzielnicach lub w całej Warszawie.
      </p>

      <div class="info-column__photo">
        <img src="<%= asset_path("sample-photos/city-photo.jpg") %>" />
      </div>
    </div>
    
    <div class="columns medium-6 info-column info-column--right">
      <div class="info-column__photo">
        <img src="<%= asset_path("sample-photos/family-photo.jpg") %>" />
        <img class="info-column__photo-decor" src="<%= asset_path("orange-circle.svg") %>" />
      </div>

      <p class="info-column__paragraph">
        <strong>W budżecie obywatelskim każdy mieszkaniec Warszawy może zgłosić projekt lub zagłosować.</strong>  Nie trzeba być zameldowanym, ani pełnoletnim. Uczestnictwo w budżecie obywatelskim to świetna okazja, żeby razem z innymi decydować o tym, jak zmienia się Warszawa.
      </p>
    </div>  
  </div>

  <div class="row column"> 
    <div class="columns medium-6 info-column info-column--icon">
      <div class="info-column__icon">
        <img src="<%= asset_path("info-step-1.svg") %>" />
      </div>

      <p class="info-column__paragraph">
        <strong>Zgłoś projekt. Pomyśl o tym, czego jeszcze brakuje, co należy zmienić lub poprawić.</strong> Opisz swój pomysł i zgłoś do budżetu obywatelskiego. W ten sposób masz realny wpływ na Twoje najbliższe otoczenie oraz na rozwój Warszawy. 
      </p>
    </div> 

    <div class="columns medium-6 info-column info-column--icon">
      <div class="info-column__icon">
        <img src="<%= asset_path("info-step-2.svg") %>" />
      </div>

      <p class="info-column__paragraph">
        <strong>Przeglądaj projekty. Zobacz, jakie projekty zgłosili inni mieszkańcy.</strong> Napisz, co o nich sądzisz, a jeśli masz jakieś pytania, zadaj je autorom pomysłów. Sprawdź, które z nich są możliwe do realizacji i zostaną poddane pod głosowanie.
      </p>
    </div> 

    <div class="columns medium-6 info-column info-column--icon">
      <div class="info-column__icon">
        <img src="<%= asset_path("info-step-3.svg") %>" />
      </div>

      <p class="info-column__paragraph">
        <strong>Zagłosuj na projekty.</strong> Spośród projektów dzielnicowych i ogólnomiejskich wybierz te, które uważasz za ciekawe lub potrzebne. Zagłosuj i zdecyduj, na co zostaną przeznaczone pieniądze z budżetu Warszawy.
      </p>
    </div> 
    
    <div class="columns medium-6 info-column info-column--icon">
      <div class="info-column__icon">
        <img src="<%= asset_path("info-step-4.svg") %>" />
      </div>

      <p class="info-column__paragraph">
        <strong>Sprawdź postępy w realizacji projektów.</strong> Wybrane w głosowaniu pomysły, są realizowane w kolejnym roku. W zakładce REALIZACJE możesz sprawdzić postęp w realizacji projektów wybranych w poprzednich edycjach.
      </p>
    </div> 
  </div>  
</div> 