<!--separates the footer from the rest of the page,
     creates a sticky footer-->
<!-- Topbar -->
<div class="title-bar">
  <%= link_to t("skip_button", scope: "decidim.accessibility"), url_for(anchor: "content"), class: "skip" %>
  <% if current_organization.official_img_header? %>
    <%= link_to current_organization.official_url, class: "logo-cityhall" do %>
      <%= image_tag current_organization.official_img_header.url.to_s, alt: current_organization.name %>
    <% end %>
  <% end %>
  <div class="row column topbar">
    <div class="logo-wrapper">
      <%= render partial: "layouts/decidim/logo", locals: { organization: current_organization } %>
    </div>
    <div>
        <span class='wizard-main-header-info'>
          <%# tylko dla skladania projektow %>
          <%= wizard_main_header_info(wizard) %>
        </span>
      <%# wspolne dla projektow i glosowania %>
      <%= wizard_main_header_cancel_button(wizard) %>
    </div>
  </div>
</div>
