<!--separates the footer from the rest of the page,
     creates a sticky footer-->
<!-- Topbar -->
<div class="title-bar">
  <%= link_to t("skip_button", scope: "decidim.accessibility"), url_for(anchor: "content"), class: "skip" %>
  <% if current_organization.official_img_header? %>
    <%= link_to  current_organization.official_url, class: "logo-cityhall" do %>
      <%= image_tag current_organization.official_img_header.url.to_s , alt: current_organization.name %>
    <% end %>
  <% end %>
  <div class="row column topbar">
    <div class="logo-wrapper">
      <%= render partial: "layouts/decidim/logo", locals: { organization: current_organization } %>
    </div>

    <div class="hide-for-medium topbar__menu ml-s mr-s">
      <button type="button" data-toggle="offCanvas" aria-label="<%= t("layouts.decidim.header.navigation") %>">
        <%= image_tag 'hmb.png', alt: '', title: t("layouts.decidim.header.navigation") %>
      </button>
    </div>
    <% if current_user %>
      <nav class="topbar__dropmenu topbar__user__logged">
        <%= link_to decidim.notifications_path, class: "topbar__notifications #{current_user.notifications.any? ? "is-active" : ""}" do %>
          <%= icon "bell", role: "img", aria_label: t("layouts.decidim.user_menu.notifications") %>
        <% end %>
        <%= link_to decidim.conversations_path, class: "topbar__conversations #{current_user.unread_conversations.any? ? "is-active" : ""}" do %>
          <%= icon "envelope-closed", role: "img", aria_label: t("layouts.decidim.user_menu.conversations") %>
        <% end %>
        <ul class="dropdown menu" data-dropdown-menu
          data-autoclose="false"
          data-disable-hover="true"
          data-click-open="true"
          data-close-on-click="true">
          <li class="is-dropdown-submenu-parent show-for-medium" tabindex="-1">
            <% signature = current_user.ad_role? ? current_user.name_and_surname : current_user.public_name(true) %>
            <%= link_to signature, decidim.account_path, id: "user-menu-control", "aria-controls": "user-menu", "aria-haspopup": "true", "aria-label": t("layouts.decidim.user_menu.account", name: signature) %>
            <ul class="menu is-dropdown-submenu" id="user-menu" role="menu" aria-labelledby="user-menu-control" tabindex="-1">
              <%= render partial: "layouts/decidim/user_menu" %>
            </ul>
            <div data-set="nav-login-holder" class="show-for-medium">
              <!-- Repeated due to dropdown limitations -->
              <ul class="menu is-dropdown-submenu js-append usermenu-off-canvas">
                <%= render partial: "layouts/decidim/user_menu" %>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    <% else %>
      <div class="topbar__user show-for-medium" data-set="nav-login-holder">
        <div class="topbar__user__login js-append">
          <% if current_organization.sign_up_enabled? %>
            <%= link_to t("layouts.decidim.header.sign_up"), decidim.new_user_registration_path, class: "sign-up-link" %>
          <% end %>
          <%= link_to t("layouts.decidim.header.sign_in"), decidim.new_user_session_path, class: "sign-in-link" %>
        </div>
      </div>
    <% end %>

    <%= render partial: "layouts/decidim/admin_links" %>

    <div class="topbar__accesibility show-for-medium">
      <% page = Decidim::StaticPage.find_by(slug: 'deklaracja-dostepnosci') %>
      <a href="<%= page ? decidim.page_path(page) : 'https://um.warszawa.pl/dostepnosc' %>" aria-label='Dostępność miasta Warszawy'>
        <%= image_tag 'accesibility-icon.svg', alt: "", title: "Dostępność miasta Warszawy" %>
      </a>
    </div>
  </div>

</div>
<div class="show-for-medium" data-set="nav-holder">
  <div class="navbar js-append">
    <div class="row column">
      <%= main_menu.render %>
    </div>
  </div>
</div>
