<div class="card with-overflow">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <div>
        <%= t(".title") %>
        <span id="js-selected-projects-count" class="component-counter component-counter--inline" title="<%= t("decidim.projects.admin.projects.index.selected") %>"></span>
      </div>
      <div class="pull-right text-right">

        <% if allowed_to? :generate_voting_numbers, :projects, component: current_component %>
          <%= link_to t('.generate_voting_numbers'), generate_voting_numbers_voting_lists_path, method: :post, class: "button tiny button--simple" %>
        <% else %>
          <div class = "button tiny button--simple" style="background-color: #adadad"><%= t('.generate_voting_numbers') %></div>
        <% end %>

        <span class="exports dropdown tiny button button--simple" data-toggle="export-dropdown"><%= t "actions.export", scope: "decidim.admin" %></span>
        <div class="dropdown-pane" id="export-dropdown" data-dropdown data-position=bottom data-alignment=right data-auto-focus="true" data-close-on-click="true">
          <ul class="vertical menu add-components">
            <li class="exports--format--xlsx exports--xlsx">
              <%= link_to 'Listy do głosowania PDF', export_voting_lists_path(query_params.merge(format:'pdf')) %>
            </li>
            <li>
              <%= link_to 'Listy do głosowania XLSX', export_voting_lists_path(query_params.merge(format:'xlsx')) %>
            </li>
          </ul>
        </div>

        <% if allowed_to? :export_voting_card, :projects, component: current_component %>
        <span class="votings-card dropdown tiny button button--simple" data-toggle="votings-card-dropdown">Wygeneruj kartę</span>
                <div class="dropdown-pane" id="votings-card-dropdown" data-dropdown data-position=bottom data-alignment=right data-auto-focus="true" data-close-on-click="true">
                  <ul class="vertical menu add-components">
                    <% scope_districts.each do |scope| %>
                    <li style="padding: 0">
                      <%= link_to translated_attribute(scope.name), export_voting_card_voting_lists_path(q: {scope_id_eq: scope.id}, format: :pdf) %>
                    </li>
                      <% end %>
                  </ul>
                </div>
        <% end %>
      </div>
    </h2>
  </div>
  <%= admin_filter_selector(:projects) %>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th>
            <%= sort_link(query, :voting_number, t("models.project.fields.voting_number", scope: "decidim.projects"), default_order: :desc) %>
          </th>
          <th>
            Poziom/<br>dzielnica/<br>obszar
          </th>
          <th>
            <%= sort_link(query, :esog_number, t("models.project.fields.esog_number", scope: "decidim.projects"), default_order: :desc) %>
          </th>
          <th>
            <%= sort_link(query, :title, t("models.project.fields.title", scope: "decidim.projects")) %>
          </th>
          <th>
            <%= sort_link(query, :budget_value, t("models.project.fields.budget_value", scope: "decidim.projects")) %>
          </th>
        </tr>
        </thead>
        <tbody>
        <% if projects.any? %>
          <% projects.each do |project| %>
            <%= render "project-tr", project: project %>
          <% end %>
        <% else %>
          </tr>
          <td colspan="8"><p class="mt-m mb-m text-center">Brak danych, wygeneruj listę do głosowania.</p></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate projects, theme: "decidim" %>
      <%= paginated_counter(@projects) %>
    </div>
  </div>
</div>

<%= javascript_include_tag "decidim/projects/admin/projects" %>
