/**
 * Markers Map
 */

const osmUrl = "https://osm.cdsh.dev/hot/{z}/{x}/{y}.png";

// map
const mapDiv = $('#map');
const paramLegend = mapDiv.data('legend') || false;
const paramLabels = mapDiv.data('labels') || {};

const map = L.map('map', {
  minZoom: 10,
  maxZoom: 17,
  gestureHandling: true
}).setView([52.22977, 21.01178], 10);

mapDiv.removeAttr('tabIndex');

L.tileLayer(osmUrl, {
  attribution:
    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

// icons
var iconsTypes = ['blue', 'green', 'gray', 'orange'];

var LeafIcon = L.Icon.extend({
  options: {
    iconSize:     [28, 36],
    iconAnchor:   [14, 36],
    popupAnchor:  [0, -24]
  }
});

//const iconFile = (type) => `${type}-icon.png`;
function icon_file(type) {
  if (type == 'blue') {
    return <%= "'#{asset_path("decidim/projects/images/blue-icon.png")}'" %>;
  } else if (type == 'green') {
    return <%= "'#{asset_path("decidim/projects/images/green-icon.png")}'" %>;
  } else if (type == 'gray') {
    return <%= "'#{asset_path("decidim/projects/images/gray-icon.png")}'" %>;
  } else if (type == 'orange') {
    return <%= "'#{asset_path("decidim/projects/images/orange-icon.png")}'" %>;
  }  else {
    return  <%= "'#{asset_path("decidim/projects/images/blue-icon.png")}'" %>;
  }
}


var counter = [];
iconsTypes.forEach(function (v) {
  counter[v] = 0;
});

// clusters
var clusters = L.markerClusterGroup({ chunkedLoading: true, showCoverageOnHover: false, maxClusterRadius: 20 });

var markersOnMap = {};
var total = 0;

$("document").ready(function() {
  // markers
  const markersInput = $('input[name="markersMap"]');

  function clickZoom(e) { 
    map.setView([e.target.getLatLng().lat + 0.005, e.target.getLatLng().lng], 15);
    setTimeout(function () {map.invalidateSize(true)}, 100)
  }

  function addMarkers() {
    // clear markers
    clusters.clearLayers();

    const markersJson = markersInput.val();

    if (markersJson.length>0) {
      var bounds = [];
      var markers = JSON.parse(markersJson);
      total = Object.keys(markers).length;

      $.each(markers, function(k, v) {
        var restrictArea = {
          lat: {
            from: 52.098913320836104,
            to: 52.36218321674427
          },
          lng: {
            from: 20.758666992187504,
            to: 21.272277832031254
          }
        };

        if (v.lat < restrictArea.lat.from || v.lat > restrictArea.lat.to || v.lng < restrictArea.lng.from || v.lng > restrictArea.lng.to) return false;

        counter[v.icon]++;
        markersOnMap[k] = new L.marker({ lat: v.lat, lng: v.lng }, { icon: new LeafIcon({ iconUrl: icon_file(v.icon) }), alt: v.title || '' })
          .addTo(clusters)
          .bindPopup(function() {
            var el = document.createElement('div');

            el.innerHTML ="<div class='loading-spinner'></div>";

            // $.get(`/projects/${v.pId}/map_details_data`).done(function(data) {
            $.get(v.popupUrl).done(function(data) {
              el.innerHTML = data;
            });

            return el;
          }, {
            'className': `popup-${v.icon}`
          }).on('click', function(e) { 
            $.each(markers, function(itemK, itemV) {
              var iconName = v.pId && itemV.pId == v.pId ? 'orange' : v.icon;
              markersOnMap[itemK] && markersOnMap[itemK].setIcon(new LeafIcon({ iconUrl: icon_file(iconName) }));
            });

            clickZoom(e);
          });

        bounds.push([v.lat, v.lng]);
      });

      if (bounds.length > 0) {
        map.addLayer(clusters);
        map.fitBounds(bounds, { animate: false });
      }
    };

    // legend
    if (paramLegend && paramLabels) {
      L.control.Legend({
        title: ` `,
        position: "bottomleft",
        // position: $(window).width() <= 640 ? "bottomleft" : "topright", // Uwzglednienie szerokosci mobile
        legends: iconsTypes.map(function(v) {
          return paramLabels[v].length>0 ? {
            type: 'image',
            url: icon_file(v),
            count: counter[v],
            // label: `${paramLabels[v]} (${counter[v]})`,
            label: `${paramLabels[v]}`
          } : '';
        })
      }).addTo(map);
    }
  }

  addMarkers();

  markersInput.change(addMarkers);
});