<h2 class="no-margin-top"><%= t('decidim.core_extended.account.appeals.actions.new_header').html_safe %></h2>

<div class="user-profile__form">
  <%= decidim_form_for(@form, url: [:account, appeal], method: :patch, html: { class: "form" }) do |f| %>
    <%= render partial: "form", object: f %>

    <div class="user-profile__form-footer">
      * pola wymagane

      <div class="button--double form-general-submit">
        <%= link_to t("decidim.core_extended.account.appeals.actions.cancel"), account_appeals_path %>
        <%= f.submit t("decidim.core_extended.account.appeals.actions.draft_save"), class: "button hollow submit" %>
        <%= f.button t("decidim.core_extended.account.appeals.actions.create"), type: 'input', class: "button", name: "subaction", value: "publish", action: :patch %>
      </div>
    </div>
  <% end %>
</div>
